@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-styles {
  background-color: $primary-color;
  color: #fff;
  padding: $button-padding;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size;
  margin: 8px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

@mixin input-styles {
  padding: $input-padding;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  font-family: $font-family;
  font-size: $font-size;
  margin: 8px;
  width: 100px;
}
