@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-styles {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial, sans-serif";
  font-size: 16px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

@mixin input-styles {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Arial, sans-serif";
  font-size: 16px;
}
